/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*Eric meyer*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:#333; 
    background: #ccc;
    margin: 30px 50px; /*30 för topp och slut 50 högervänster*/
    line-height: 1.4;
}
img{
  max-width: 100%
}

.btn{
    background:#333;
    color:#fff;
    padding: 0.6rem 1.3rem;/*0.6 för topp och slut 1.3 högervänster*/
    text-decoration: none; /*inga understräck*/
}

.boxes a:hover{
    background:rgb(138, 131, 131);
     color:#fff;   
}


.wrapper{
    display:grid;
    grid-gap:20px;
}

/*LOGGA*/
.header img {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    border:solid rgb(24, 24, 24);
    box-shadow: 0 0 2px 1px rgba(24, 25, 26, 0.5);
}

/*icons*/
.fa {
    position: relative;
    float: right;
    padding:10px;
    margin-right:20px;
    font-size: 20px;
    height:10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: rgb(57, 57, 57)
  }
  
  .fa:hover {
    background:rgb(174, 173, 173)
  }

/*Navigering*/
.main-nav {
    display:grid;
    background:rgb(33, 25, 25);
    display:flex;
    justify-content: center;
}




.top-container{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'head-section head-section head-section ' 
}

.head-section-index{
  grid-area: head-section;
  min-height: 400px; 
  background: url("https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  box-shadow:0 1px 5px rgb(104,104.104,0.8);
  background-size: cover;
  background-position: center;
  padding: 4rem;
  margin-top:30px;
  display:flex; 
  flex-direction: column;
  align-items: start;
  justify-content:flex-end;	
	
}

.head-section-index h1 {
  font-size: 5rem;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}
.head-section-index p{
font-size: 2.3rem;
margin-top: 0;
color:rgb(255, 255, 255);
}

.boxes{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

.box{
    background:#fff;
    text-align: center;
    margin:20px;
   padding:1.5rem 2rem;
   box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.box h1{
    text-align: center;
    margin:20px;
   padding:1.5rem 2rem;  
}

.box .btn{
   display:flex;
   justify-content: center;
    grid-gap:4px;
    margin:5px;
    border-radius:20px;
}

.info{
    display:grid;
    grid-gap:30px;
    grid-template-columns: repeat(2,1fr);
    background:#fff;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding:3rem;
}


/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background:rgb(21, 19, 19); 
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 17px;
  line-height: 14px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
}
.footer .col ul {
  list-style-type: none;
  color:white;
  margin: 0;
  padding: 0;
}
.footer .col ul li a {
  color: white;
  text-decoration:none;
  font-size: 14px;
  font-family: arial;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.col a:hover {
  background:rgb(52, 48, 48); 
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}



  
/*index-sida klar ovanför*/

/* start om oss*/


.info-omoss{
    display:grid;
    grid-gap:30px;
    grid-template-columns: repeat(1,1fr);
    background:rgb(215, 213, 213);
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding:3rem;
    margin-top:30px;
    text-align: left;
}

.info-omoss2{
 display:grid;
  grid-gap:30px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  grid-template-columns: repeat(1,1fr);
  background:rgb(215, 213, 213); 
  padding:3rem;
  text-align: left;
}
.info-omoss3{
  display:grid;
    font-size: 15px;
    color:black;
    grid-gap:30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    background:rgb(215, 213, 213);
    padding:3rem;
}

.info-omoss h2{
    display:grid;
    font-size:2em;
    text-align: center;
}

.info-omoss2 h2{
  display:grid;
  font-size:2em;
  text-align: center;
}
.info-omoss3 h2{
  display:grid;
  font-size:2em;
  text-align: center;
}


 /*Om oss sidan klar ovanför*/

 /*start kontaktsida*/
 .box-kontakt{
    background:rgba(255, 255, 255, 0.954);
    min-width: 100px;
    text-align: center;
    margin:10px;
    margin-top:30px;
   padding: 5rem;
   box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


.box-kontakt img{
    display: flex;
    justify-content: start;
    max-width: 20%; 
}

.box-kontakt .btn{
  display:flex;
  justify-content: center;
  grid-gap:1px;
  margin:2px;
  border-radius:20px;
}



/* start BOKA BORD*/

.main-info-bokabord h1{
 font-size: 2em;
margin-top:30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #eee;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    color: rgb(29, 25, 25);
  }
  
  #form {
    max-width: 700px;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .form-field {
    display: flex;
    margin: 0 0 1rem 0;
  }

  label, input {
    width: 70%;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
  }
  label {
    text-align: right;
    width: 30%;
  }
  input {
    border: 2px solid rgb(63, 53, 53);
    border-radius: 2px;
  }

  
/* start kaffe information*/
.top-container-kaffe{
    display:grid;
    grid-gap:20px;
    grid-template-areas:
    'head-section-kaffe head-section-kaffe '
    'head-section-kaffe head-section-kaffe ';
}

.head-section-kaffe{
    grid-area:head-section-kaffe;
    min-height: 300px;
    background-image: url(https://images.pexels.com/photos/164622/pexels-photo-164622.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
    background-position: center;
    margin-top:30px;
    padding:3rem;
    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content: flex-end;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.head-section-kaffe h1{
    font-size: 5rem;
    margin-bottom: 0;
    color:rgb(255, 253, 253);
}


.info-kaffe{
    display:grid;
    font-size: 15px;
    color:black;
    grid-gap:30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    background:rgb(215, 213, 213);
    padding:3rem;
}

.info-kaffe h2{
    font-size: 3em;
    text-align: center;
}

body {
	font-family: Helvetica, Arial, sans-serif;
  font-size:16px;
}



/*mobil meny*/
.mobile-menu {
  display:block;
  width:100%;
background: #211f1a;
line-height: 1.6em;
font-weight: 400;
width:100%;
text-align:center;
position: relative;
margin:3px auto;
  
 
}

.mobile-menu ul {
	list-style-type:none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width:100%;
  position: absolute;
  background: #211f1a;
}

/*Create a horizontal list with spacing*/
.mobile-menu li {
	display:inline-block;
	/*float: left;
	margin-right: 1px;*/
}

/*Style for menu links*/
.mobile-menu li a {
	display:block;
	min-width:140px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(255, 255, 255);
  
	background:#211f1a;
	text-decoration: none;
  
  padding: 10px 0;  
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

/*Hover state for top level links*/
.mobile-menu li:hover a {
	color: #8e8e8e;
  background-color:#f4f4f4;
}

/*Style for dropdown links*/
.mobile-menu li:hover ul a {
	background: #ae2929;
	color: #0e0e0e;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
.mobile-menu li:hover .mobile-menu ul a:hover {
	color: #fefefe;
}

/*Hide dropdown links until they are needed*/
.mobile-menu li ul {
	display: none;
}

/*Make dropdown links vertical*/
.mobile-menu li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
.mobile-menu li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}



/*Style 'show menu' label button and hide it by default*/
.mobile-menu .show-menu {
	text-decoration: none;
	color: #fff;
	background:#211f1a;
	text-align: center;
	padding: 40px 20px;
	display: none;
  cursor: pointer;
  text-transform: uppercase;
}

.mobile-menu .show-menu span{
   padding-left: 10px;
}

/*Hide checkbox*/
.mobile-menu input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked ~ #menu{
    display: block;
}







/*Media queries*/

@media (max-width: 700px){
.top-container{
grid-template-areas:
'head-section head-section';
margin-left: 20px;
margin-right: 20px;
}


.head-section-index h1{
font-size:2.5rem;
}

.head-section-index p{
 font-size:1.5rem;
}

.info{
grid-template-columns: 1fr;
}

.info .btn{
display:block;
text-align: center;
margin:auto;
}

.top-container-kaffe{
 grid-template-areas:
'head-section-kaffe head-section-kaffe';

 
 }
     
.head-section-kaffe h1{
font-size:3.5rem;
 color:white;
            
}
  .main-info-bokabord h1{
 font-size: 20px;
}

body{
   
    margin:2px;
    margin-top:20px;
  }

  .fa {
    padding:5px;
      float: right;
      margin-right:10px;
      position: relative;
      top:40px;
      border-radius:80%;
      
    }
.infokaffe{
	margin:20px;
	}
.info-omoss{
	margin:10px;
	}
	
.info-omoss2{
	margin:10px;
	}
	
	.mobile-menu .lines {
    border-bottom: 10px double #fafafa; 
    border-top: 5px solid #ffffff; 
    content:"";
    height: 20px; 
    width:20%;
    padding-right:15px;
  float: left;
}
	/*Make dropdown links appear inline*/
	.mobile-menu ul {
    position: static;
    display:none;
    background: rgb(238, 236, 236);
   
	
	}
	/*Create vertical spacing*/
	.mobile-menu li {
    margin-bottom: 0px;
    padding:2px;
	}
	/*Make all menu links full width*/
	.mobile-menu ul li, .mobile-menu li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.mobile-menu .show-menu {
		display:block;
	}


}
		

@media only screen and (max-width: 480px) 
{
    .top-container{
   grid-template-areas:
   'head-section';
    }
.head-section-index{
 min-width: 130px; 
 min-height: 200px; 
 margin-right:15px;
     
    }
	
.head-section-index h1{
font-size:1.5rem;
}
	
	
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li a {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
	
 
 
}	
	

 











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
	}





	
